body {
  margin: 0;
}

nav {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: block;
}

nav ul {
  width: 100%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  width: 23.8%;
  margin: 0;
  padding: 5px 0px;
  box-sizing: border-box;
  text-align: center;
}

nav ul li:hover {
  background: white;
}

nav ul li:hover a {
  color: black;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

header {
  background: url("../img/coffeehouse.jpg") no-repeat fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
  top: -25px;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 78px;
  position: absolute;
  top: 30%;
  left: 45%;
}

.dp1 {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 90%;
  left: 3%;
  background: black;
  padding: 5px;
}

.dp2 {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 90%;
  right: 3%;
  padding: 5px;
}

section {
  width: 35%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}

.title-style {
  background: black;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 50px auto;
  padding: 4px;
}

.para-1 {
  text-align: justify;
  font-size: 22px;
  line-height: 35px;
}

.adver-1 {
  text-align: left;
  font-size: 22px;
  background: rgb(218, 218, 218);
  padding: 20px;
  border-left: 15px solid rgb(144, 144, 144);
}

.adver-1 p:nth-child(1) {
  font-style: italic;
}

img {
  width: 100%;
  margin: 15px 0;
}

.para-2 {
  text-align: left;
  font-size: 22px;
  margin: 10px 0;
}

.main-menu-section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.menu-btn-section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 3px rgb(224, 224, 224);
}

.menu-btn-section button {
  width: 49%;
  border: none;
  margin: 0;
  display: inline-block;
  background: white;
  padding: 6px;
}

.menu-btn-section button:nth-child(1) {
  background: rgb(106, 106, 106);
  color: white;
}

.menu-items-section {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 3px rgb(224, 224, 224);
}

.menu-item {
  text-align: left;
  margin: 50px 0px;
}

.menu-item h3 {
  font-weight: normal;
  font-size: 20px;
}

.menu-item p {
  color: rgb(147, 147, 147);
}

.text-in-para {
  background: black;
  color: white;
  padding: 3px;
}

form {
  width: 100%;
}

form input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 5px 0;
  font-size: 17px;
}

form button {
  border: none;
  background: black;
  color: white;
  padding: 15px 10px;
  font-size: 16px;
  width: 160px;
  margin: 10px auto 10px 0px;
  display: block;
}

footer {
  background: rgb(239, 239, 239);
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  padding: 30px 0;
  color: black;
  font-size: 20px;
}

footer a {
  color: black;
}
